version: '3.9'
services:
  db:
    image: postgres:16-alpine
    container_name: inz-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: inzynierka
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  adminer:
    image: adminer:latest
    ports:
      - '8080:8080'
volumes:
  db_data:

